@font-face {
  font-family: 'Bronco';
  src: url('assets/Fonts/BroncoRegular.woff2') format('woff2'),
       url('assets/Fonts/BroncoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


