@font-face {
  font-family: 'Bronco';
  src: url('assets/fonts/BroncoRegular.woff2') format('woff2'),
       url('assets/fonts/BroncoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


